#mainPage {
    padding-top: 70px;
}

.navbar {
    background: transparent;
    border: none;
}

.navbar li {
    color: #000
}

body {
    background-image: url(/resources/img/background.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

.submitButton {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.divWithHidden .hiddenButton {
    visibility: hidden;
}
.divWithHidden:hover .hiddenButton {
    visibility: visible;
}